<div class="header">
  <h1>Your Meals
  <span class="cta push-right"><%= link_to "What did you eat today?", new_meal_path %></span>
</h1>
</div>

<div class="column-group horizontal-gutters">
<% @meals.each do |meal| %>
    <div id="meal-box" class="all-33">
      <h3><%= meal.name %></h3>
      <p>Rating: <%= meal.rating %></p>
      <p><%= link_to "Meal details", meal_path(meal.record_id) %>
    </div>
<% end %>
</div>


